h1 {
  color: #4c3e6f;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  color: white;
}

p {
  background-color: blueviolet;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
}
.highlight {
  font-weight: bold;
  text-decoration: underline;
  background-color: orange;
}

#brasil {
  color: green;
  font-size: 1.2em;
}